.area{
    flex-grow: 1;
    background-color: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}
.area .logo{
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.area > svg{
  height: 24px;
  width: 24px;
  stroke: none;
  fill: var(--white);
  transition: transform .07s ease-out;
  display: none;
  position: absolute;
  left: 9px;
  top: 9px;
  cursor: pointer;
}
.area > svg:hover{
  transform: scaleY(1.27);
}
.r{
  color: var(--blue);
  font-size: 30px;
  z-index: 999;
}
.v{
  color: var(--purple);
  font-size: 30px;
  font-weight: 300;
}
@media screen and (max-width: 768px){
    .area{
        flex-grow: 0;
        top: -40px;
        left: 0;
        height: 40px;
        width: 100vw;
        opacity: .97;
    }
    .r, .v{
      font-size: 26px;
    }
    .area > svg{
        display: flex;
    }
    .area > svg:hover{
      transform: initial;
    }
    .area > svg:active{
      transform: scaleY(1.27);
    }
}