.logo{
    flex-grow: 1;
    background-color: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}
.more{
    display: none;
    position: absolute;
    height: 26px;
    width: 26px;
    left: 12px;
    cursor: pointer;
    stroke: none;
    fill: var(--white);
    transition: transform .07s ease-out;
}
.more:active{
    transform: translateX(9px);
}
@media screen and (max-width: 768px){
    .logo{
        flex-grow: 0;
        top: -40px;
        left: 0;
        height: 40px;
        width: 100vw;
        opacity: .97;
    }
    .more{
        display: flex;
    }
}