.MuiAppBar-root{
    background: var(--bg2-color);
}

.MuiIconButton-root{
    color: var(--secondary-color);
}
.MuiListItemIcon-root{
    color: var(--primary-color);
}

/*--------------MENU BUTTONS ANIMATIONS----------------*/
@media (hover: hover){
    .MuiListItem-root, .MuiListItem-root *{
        transition: padding-left .5s ease,
                    margin-left .5s ease;
    }
    .MuiListItem-root:hover {
        background-color: var(--primary-color);
        margin-left: 6%;
    }
    .MuiListItem-root:hover *{
        padding-left: 2%;
    }
    .MuiListItem-root:hover .MuiListItemIcon-root{
        color: var(--text-color);
    }
}
@media (hover: none) {
    .MuiListItem-root:active{
        transform: scale(0.96);
    }
}
/*-----------------------------------------------------*/

.avatarbox {
    background: var(--bg2-color);
    width: 250px;
    overflow: hidden;
    height: 100%;
}
.MuiAvatar-root{
    display: block;
    margin: 0.5rem auto;
    width: 104px;
    height: 104px;
}