.container{
  width: 90%;
  margin: 90px auto;
  display: grid;
  grid-column-gap: 25px;
  grid-row-gap: 50px;
  grid-template-areas: 
    'pp basic basic inter inter'
    'txt txt tech tech tech';
}

.pp{
  grid-area: pp;
  max-width: 230px;
  max-height: 230px;
  border-radius: 50%;
  box-shadow: 0 0 8px 3px var(--dark-grey);
  justify-self: center;
  align-self: center;
}

.basic{
  grid-area: basic;
}

.inter{
  grid-area: inter;
}

.txt{
  grid-area: txt;
  text-align: justify;
  align-self: center;
}

.tech{
  grid-area: tech;
}

@media screen and (max-width: 988px){
  .pp{
    max-width: 200px;
    max-height: 200px;
  }
}

@media screen and (max-width: 768px){
  .container{
    width: 80%;
    margin: 55px auto;
    grid-template-areas: 
      'pp pp inter inter'
      'basic basic txt txt'
      'tech tech tech tech';
    grid-column-gap: 20px;
    grid-row-gap: 35px;
  }

  .pp{
    max-width: 150px;
    max-height: 150px;
  }
}

@media screen and (max-width: 450px){
  .container{
    width: 80%;
    margin: 45px auto;
    grid-template-areas: 
      'pp'
      'basic'
      'inter'
      'txt'
      'tech';
    grid-column-gap: 0;
    grid-row-gap: 15px;
  }

  .pp{
    max-width: 180px;
    max-height: 180px;
  }
}