.about{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
}

.aboutContainer{
  margin-top: 7%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.aboutCard{
  display: flex;
  justify-content: space-around;
}

.pp{
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
}

hr{
  border-color: var(--dark-grey);
  opacity: 35%;
}