.nb{
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.nb .icon{
    height: 30px;
    width: 30px;
    stroke: transparent;
    fill: var(--blue);
    transition: transform .2s ease-out;
}
.nb p{
    font-weight: 500;
    font-size: 13px;
    transition: letter-spacing .2s ease-out;
}
@media (hover:hover){
    .nb:hover{
        background-color: var(--grey);
        box-shadow: inset 0 0 15px 1px var(--black);
    }
}
@media (hover:none){
    .nb:active{
        background-color: var(--grey);
        box-shadow: inset 0 0 15px 1px var(--black);
    }
    .nb:after{
        transition: width .07s ease-out;
    }
}
@media screen and (min-width: 768px){
    .nb > div{
        align-self: center;
    }
    .nb:after{
        content: "";
        border-bottom: 1px solid var(--purple);
        position: absolute;
        left: 0;
        align-self: flex-end;
        width: 0;
    }
    
    @media (hover:hover){
        .nb:after{
            transition: width .2s ease-out;
        }
        .nb:hover:after{
            width: 100%;
        }
        .nb:hover .icon{
            transform: scale(1.17);
        }
        .nb:hover p{
            letter-spacing: 1.5px;
        }
    }
    @media (hover:none){
        .nb:active:after{
            width: 100%;
        }
        .nb:active > div{
            transition: transform .07s ease-out;
            transform: scale(.88);
        }
    }
}
@media screen and (max-width: 768px){
    .nb > div{
        align-self: center;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .nb .icon{
        position: absolute;
        left: 22vw;
    }
    .nb p{
        font-size: 18px;
    }
    @media screen and (min-width: 550px){
        .nb .icon{
            left: 30vw;
        }
    }
    @media (hover:hover){
        .nb:after{
            content: "";
            border-bottom: 1px solid var(--purple);
            position: absolute;
            left: 0;
            align-self: flex-end;
            width: 0;
            transition: width .2s ease-out;
        }
        .nb:hover:after{
            width: 100vw;
        }
        .nb:hover .icon{
            transform: scale(1.3);
        }
        .nb:hover p{
            letter-spacing: 2.2px;
        }
    }
    @media (hover:none){
        .nb:active{
            border-bottom: 1px solid var(--purple);
        }
    }
}