.homeContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85vh;
}
.notebook{
  z-index: 502;
  width: 35%;
  position: absolute;
  bottom: 10%;
  right: 20px;
}
.skew{
  z-index: 500;
  transform: skew(0, -7deg);
  position: absolute;
  top: -10vh;
  right: 0;
  height: 95vh;
  width: calc(100vw - 75px);
  background: url("../../assets/home.png");
  background-size: cover;
  background-position: center;
  opacity: .11;
}
.homeContent .inner{
  z-index: 501;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.spacing{
    overflow: hidden;
    white-space: nowrap;
}
.homeContent h1{
    font-size: 70px;
    font-weight: 400;
}
.homeSub{
    text-align: center;
    font-weight: 400;
    font-size: 35px;
    color: var(--blue);
}
@media screen and (max-width: 768px){
    .skew{
        width: 100vw;
    }
    .notebook{
      width: 230px;
      right: calc(50% - 115px);
    }
    .homeContent h1{
        font-size: 50px;
    }
    .homeTag{
        font-size: 30px;
    }
    .homeSub{
        font-size: 25px;
    }
}

@media screen and (max-width: 450px){
    .homeContent h1{
        font-size: 35px;
    }
    .homeTag{
        font-size: 22px;
        font-weight: 400;
    }
    .homeSub{
        font-size: 17px;
        font-weight: 400;
    }
}
