.sidebar{
    -webkit-tap-highlight-color:transparent;
    box-shadow: 0 0 20px 0px var(--black);
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 75px;
    justify-content: space-around;
    z-index: 9999;
}
.sidebar ~ *{
    margin-left: 75px;
}
.nav-links{
    background-color: var(--black);
    list-style: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 50%;
}
.nav-links > li, .social-links > li{
    flex-grow: 1;
}
.social-links{
    background-color: var(--dark-grey);
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

@media screen and (max-width:768px){
    .nav-links:not(.active), .social-links:not(.active){
        transform: translateX(-100%);
    }
    .nav-links, .social-links{
        width: 100vw;
        transition: transform .2s ease-out;
    }
    .social-links{
        flex-grow: .4;
        flex-direction: row;
    }
    .sidebar{
        height: 100vh;
        box-shadow: none;
        top: 0px;
        opacity: .96;
    }
    .sidebar ~ *{
        margin-left: 0;
    }
    .sidebar + *{   
        margin-top: 40px;
    }
}