i{
    font-size: 17px;
    color: var(--blue);
}
p{
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.5px;
    transition: letter-spacing .13s ease-out;
}
.more{
    display: none;
}
.sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--black);

    position: fixed;
    left: 0;
    height: 100vh;
    width: 75px;

    justify-content: space-around;
}
.logo{
    flex-grow: 1;
}
.nav-links{
    list-style: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    height: 50%;
}
.nav-links > li > button > div{
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-between;
}
.nav-links > li, .social-links > li{
    flex-grow: 1;
}
.nav-links > li > .border{
    position: absolute;
    border-bottom: 2px solid var(--blue);
    width: 0%;
    transition: width .2s ease-out;
}
.nav-links > li > button, .social-links > li > button{
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.social-links{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
.social-links > li > button > i{
    color: var(--purple);
    transition: transform .22s ease-out, 
                color .35s ease-out;
}

@media (hover:hover){
    .nav-links > li > button:hover, .social-links > li > button:hover{
        background-color: var(--grey);
        box-shadow: inset 0 0 15px 1px var(--black);
    }
    .nav-links > li > button:hover > div > i{
        transform: scale(1.15);
        color: var(--blue);
    }
    .nav-links > li > button:hover > div > p{
        letter-spacing: 3px;
    }
    .nav-links > li > button:hover ~ .border{
        width: 100%;
    }
    .social-links > li > button:hover > i{
        transform: rotateY(360deg);
        color: var(--blue);
    }
}