.more{
    display: none;
}
.sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    position: fixed;
    height: 100vh;
    width: 75px;

    justify-content: space-around;

    transition: transform .2s ease-out;
}
.logo{
    flex-grow: 1;
    background-color: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links{
    list-style: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    height: 50%;
}
.nav-links > li, .social-links > li{
    flex-grow: 1;
}
.social-links{
    list-style: none;
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

@media screen and (max-width:628px){
    .sidebar{
        transform: translateX(-100%);
    }
}