:root {
  --blue: #45a29e;
  --purple: #593d8d;
  --white: #c5c6c7;
  --grey: #1f2833;
  --dark-grey: #101318;
  --black: #0b0c10;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Maven Pro, Arial, Helvetica, sans-serif;
  color: var(--white);
}

body {
  width: 100%;
  height: 100%;
  background: var(--grey);
  -webkit-font-smoothing: antialiased;
}